# Dependencies
node_modules/

# Environment files
.env
**/.env

# Service account credentials
Backend/config/serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
/dist/
/build/
